html, body{
  height:100%;
  font-family: 'effraregular', Helvetica, Verdana, sans-serif;
  font-size: 18px;
}

h1{
	font-family: 'effrabold_italic', Helvetica, Verdana, sans-serif;
	font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

h2{
	font-family: 'effrabold_italic', Helvetica, Verdana, sans-serif;
	font-size: 30px;
  margin-bottom: 40px;
}

h3{
  font-family: 'effrabold', Helvetica, Verdana, sans-serif;
  font-size: 22px;
  margin: 20px 0 5px 0;
}

h4{
  font-size: 22px;
  margin-top: 30px;

}

.subhead{
  font-family: Georgia, serif;
  letter-spacing: 0.2em;
  font-style: italic;
  text-align: center;
}

p{
	font-family: "effraregular", Helvetica, Verdana, sans-serif ;
	font-size: 18px;
  margin: 0 0 15px;
}

a{
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline;
}



.navbar-fixed-top { position: absolute!important; }

.navbar{
	background-color: transparent;
  transition: all 0.25s ease;
	border-color: transparent;
  border-bottom: solid 1px white;
  padding: 15px 15px 0px 15px;
}

.navbar-brand{
    padding: 10px 15px;
}




.navbar.past-header {
    background-color:#e1e1e1;
    color:#444;
    padding-top: 0px;
}

.navbar-default .navbar-nav>li>a {
  	color: #ffffff;
    font-family: 'effrabold', Helvetica, Verdana, sans-serif;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e5e5e5;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navselected{
  border-bottom: solid white 4px;
}

header{
	text-align: center;
	background-color: #00009e;
	color: #ffffff;
	height: 500px;
	padding-top: 230px;
  background-image: url(../max/images/header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom:solid 4px white;
  /*background: #e7e7e7 url(../images/header.jpg) no-repeat scroll top;
  -webkit-background-size: ;
  -moz-background-size: ;
  -o-background-size: ;
  background-size: cover ;*/
}

.logosm{
    height: 22px;
    width: auto;
}

.applogo{
  float: right;
  padding-top: 25px;
  width: 250px;
  height: auto;
}

.meet{
  padding: 60px 0 80px 0;
  text-align: left;
  background-color: #000000;
  color: #ffffff;
}

.meeta{

  font-family: "efframedium_italic", Helvetica, Verdana, sans-serif ;
  font-size: 24px;
  letter-spacing: 0.1em;
  margin-top: 20px;
}


.key{
  padding: 80px 0;
  text-align: left;
  background-color: #242422;
  color: #ffffff
}

.keyol>li{
  margin-bottom: 10px;
}

.imggallery{
  padding: 80px 0;
  text-align: left;

}

.textleft{
  text-align: left;
}

.texttop{
  vertical-align: top;
}


.tutorials{
    background-color: #0000ff;
    color: #ffffff;
    padding: 80px 0;
    text-align: left;
}

.video-container-sm { 
  float: left;
  position: relative;
  padding-top: 0px;
  padding-right: 10px;
  height: 0;
}

.vidlist{
  height: 530px;
  padding: 8px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  overflow: scroll;
}

.vidlist>li{
  list-style: none;
  height: 130px;
  margin-bottom: 10px;
}

.vidlist>li>h4{
  margin-top: 0px;
  margin-left: 160px;
}

.vidlist>li>p{
  font-size: 14px;
  margin-top: 0px;
  margin-left: 160px;
}


.resources{
    background-color: #000000;
    color: #ffffff;
    padding: 80px 0;
    text-align: left;
}

.smallmgbt{
    margin-bottom: 20px;
}

.copyright{
    background-color: #242422;
    color: #ffffff;
    font-size: 13px;
    padding: 50px 0;
}


.video-container { 
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Small devices (phones, 320px and up) ------------------------*/
@media (min-width: 320px) { 
  header{
    text-align: center;
    height: 400px;
  }
  .headerimg{
    width: 300px;
  }

  .applogo{
  width: 200px;
  padding-left: 20px;
  }

  .vidlist{
    height: 440px;
  }

  .vidlist>li{
    height: 230px;
  }

  .vidlist>li>h4{
    padding-top: 110px;
    margin-left: 0px;
  }

  .vidlist>li>p{
    margin-top: 0px;
    margin-left: 0px;
  }


}


/* Small devices (tablets, 768px and up) ------------------------*/
@media (min-width: 768px) { 
  header{
    text-align: center;
    height: 500px;
  }
  .headerimg{
    width: 400px;
  }

  .applogo{
  width: 250px;
  }

  .vidlist{
    height: 530px;
  }

  .vidlist>li{
    height: 130px;
  }

  .vidlist>li>h4{
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 160px;
  }

  .vidlist>li>p{
    margin-left: 160px;
  }

}

/* Medium devices (desktops, 992px and up) ------------------------*/
@media (min-width: 992px) { 
  header{
    text-align: center;
    height: 500px;
  }

  .headerimg{
    width: 400px;
  }

  .portimg img{
    width: auto;
  }

  h1{
  font-size: 48px;
  text-align: center;
  }

  h2{
    font-size: 40px;
  }
 }

/* Large devices (large desktops, 1200px and up)  ------------------------*/
@media (min-width: 1200px) { 
  header{
    text-align: center;
  }
  .portimg img{
    width: auto;
  }
  .headerimg{
    width: 400px;
  }



 }









/*---------font------------------------*/


@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/Nexa_Free_Light-webfont.eot');
    src: url('../fonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('../fonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa_Free_Bold-webfont.eot');
    src: url('../fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('../fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'effrabold';
    src: url('../fonts/effra_bd-webfont.woff2') format('woff2'),
         url('../fonts/effra_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effrabold_italic';
    src: url('../fonts/effra_bdit-webfont.woff2') format('woff2'),
         url('../fonts/effra_bdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effraheavy';
    src: url('../fonts/effra_he-webfont.woff2') format('woff2'),
         url('../fonts/effra_he-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effraheavy_italic';
    src: url('../fonts/effra_heit-webfont.woff2') format('woff2'),
         url('../fonts/effra_heit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effraitalic';
    src: url('../fonts/effra_it-webfont.woff2') format('woff2'),
         url('../fonts/effra_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effralight';
    src: url('../fonts/effra_lt-webfont.woff2') format('woff2'),
         url('../fonts/effra_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effralight_italic';
    src: url('../fonts/effra_ltit-webfont.woff2') format('woff2'),
         url('../fonts/effra_ltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'efframedium';
    src: url('../fonts/effra_md-webfont.woff2') format('woff2'),
         url('../fonts/effra_md-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'efframedium_italic';
    src: url('../fonts/effra_mdit-webfont.woff2') format('woff2'),
         url('../fonts/effra_mdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'effraregular';
    src: url('../fonts/effra_rg-webfont.woff2') format('woff2'),
         url('../fonts/effra_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

